@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa',cursive;
  background: #fef6e4;
 }

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.form-container {
  width: 400px;
  margin: 4rem auto;

}

.avatar {
  float: left;
  margin-right: 1rem;
}

.show-button{
  float: right;
}

.submit-button {

  margin-top: 4rem !important;
  margin-bottom: 1rem !important;
  display: inline-block;
}

.load-more {
  margin: 2rem auto !important;
  display: flex !important;
  justify-content: center;
  align-items: center;

}

.container{

  background: #fef6e4;
   overflow: hidden;
}

.confirm-popup{
 color: black!important;

}

.quill-editor{
   text-align: center;
   margin: auto 2rem !important;
   padding: 2rem !important;
   background: #fef6e4 !important;
   border: solid hotpink 2px !important;
   height: 400px;
   
   
 }

.home-post-page{
  
  height: 180px;
  overflow: auto;

  margin: 20px auto;
  padding: 20px;
   
  background:#fef6e4;

}

.card-content {
   background:#f582ae !important;
  
}

.single-post-page {
  overflow: auto;
}

.content-post{
  padding: 1rem;
  margin: 1rem;
}

.menu {
  margin-bottom: 0 !important;
 
}

.footer{
  background-color:#222831;
  color: white;
  text-align: center;
  font-size: small;
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.extra{
  background-color: #8bd3dd !important;
 
}

.single-post{
  margin-top: 4rem !important;
}

.comment-form {
  background:#fef6e4 !important;
  border: solid 1px hotpink!important;
}