@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa',cursive;
  background: #fef6e4;
 }

 ul li {
   list-style: none;
 }

.page-title {
 
  text-align: center;
  font-size: 2rem;
  margin: 3rem auto !important;
}

.page-loading{
 text-align: center;
 font-size: 2rem;
 margin: 2rem auto;
}


.form-container {
  width: 400px;
  margin: 4rem auto;

}

.avatar {
  float: left;
  margin-right: 1rem;
}

.home-button {
  margin-bottom: 2rem !important;
}

.show-button{

  margin-top: 2rem !important;
  float: right;
  z-index: 0 !important;
}

.clear-button {
  margin: 2rem !important;
}

.submit-button {

  display: inline-block;
}

.load-more {
  margin: 2rem auto 6rem auto !important;
  display: flex !important;
  justify-content: center;
  align-items: center;

}

.container{

  background: #fef6e4;
   overflow: hidden;
}

.confirm-popup{
 color: black!important;

}

.form-field{
   text-align: center;
   
   min-height: 300px;
   overflow: auto;
   width: 100%;
   background: teal !important;
  

   
 }

 .ql-toolbar.ql-snow {
   
   border: 2px solid teal !important;
   background: white;
   
   
 }

 .ql-container.ql-snow {
 
  border: 2px solid teal !important;
  min-height: 300px;
  overflow: auto;
  background: white !important;
  
   
 }


 .ql-snow.ql-toolbar button:hover .ql-stroke,
 .ql-snow .ql-toolbar button:hover .ql-stroke,
 .ql-snow.ql-toolbar button.ql-active .ql-stroke,
 .ql-snow .ql-toolbar button.ql-active .ql-stroke,
 .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
 .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
 .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
 .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
 .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
 .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
 .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
 .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
 .ql-snow.ql-toolbar button:hover .ql-stroke-mitter,
 .ql-snow .ql-toolbar button:hover .ql-stroke-mitter,
 .ql-snow.ql-toolbar button.ql-active .ql-stroke-mitter,
 .ql-snow .ql-toolbar button.ql-active .ql-stroke-mitter,
 .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,
 .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-mitter,
 .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,
 .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-mitter,
 .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,
 .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-mitter,
 .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter,
 .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-mitter {
   stroke: teal !important;
 }

 
.home-post-page{
  
  height: 100px;
  overflow: auto;

  margin: 1rem;
  padding: 1rem;
 
}

.single-post-page {
  height: 100px;

  overflow: auto;

  margin: 1rem;
  
  padding: 1rem;
}

.segment{
  margin-left: -25px !important;
}

.card-content {
  
   border-left: solid 8px teal !important;
   background: #fef6e4 !important;
  
}


.content-post{
  padding: 1rem;
  margin: 2rem 1rem;
  
}

.menu {
  margin-bottom: 0 !important;
 
}

.footer{
  background-color:#222831;
  color: white;
  text-align: center;
  font-size: small;
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: hotpink !important;
}

.extra{
  background: #fef6e4 !important;
  border-left: solid 8px teal !important;
 
}

.label {
  color: white !important;
  font-size: 1.2rem !important;
  padding: 1rem;
}


.comment-form {
  background:#fef6e4 !important;
  border: solid 1px teal!important;
}

.ais-InstantSearch {
   margin: 2rem;
}


.ais-SearchBox {
  margin: 1rem auto;
  padding-bottom: 1rem;
  width: 100%;
}

.hit-body {
  margin-bottom: 1.5rem;
}

.hit-body em {
  background: #f582ae;
  color: #001858;
}


