body {
  margin: 0;
  background: url("./assets/background.svg");
 
}


.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.green.button:focus,
.ui.green.buttons .button:focus {
  background-color: green;
}

.avatar {
  float: left;
  margin-right: 1rem;
}

.show-button{
  float: right;
}

.submit-button {

  margin-top: 4rem !important;
  margin-bottom: 1rem !important;
  display: inline-block;
}


.container{

  background-color: whitesmoke;
  height: 100vh;
  overflow-y: auto;

  padding: 4rem 2rem !important;
}


.confirm-popup{
 color: black!important;

}

.quill-editor{
   text-align: center;
   padding: 1.5rem !important;
 }


.home-post-page{
  
  height: 150px;
  overflow: auto;

  margin: 20px auto;
  padding: 20px;
   
  background-color: lavenderblush;

}

.single-post-page {
  overflow: auto;
}

.content-post{
  padding: 5px;

}

.menu {
  margin-bottom: 0 !important;

}

.load-more{
   margin: 2rem auto !important;
   display: flex !important;
   justify-content: center;
   align-items: center;

}